<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/general.html :: head(title=${set.name})}">
</head>
<body>
<header th:replace="~{/fragments/general.html :: header}"></header>
<header th:replace="~{/fragments/set-stuff.html :: header(section='Flashcards')}"></header>

<div th:replace="~{/fragments/set-stuff.html :: flashcards}"></div>

<footer th:replace="~{/fragments/general.html :: footer}"></footer>


</body>
</html>