<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/general.html :: head(title=${set.name})}">
</head>
<body>
<header th:replace="~{/fragments/general.html :: header}"></header>

<div th:text="${set.name}"></div>

<div th:replace="~{/fragments/set-stuff.html :: flashcards}"></div>

<div class="mb-4">
    <a th:href="${set.id + '/flashcards'}"><button type="button" class="btn btn-primary rounded mx-4">Flashcards</button></a>
    <a th:href="${set.id + '/learn'}"><button type="button" class="btn btn-primary rounded mx-4">Learn</button></a>
    <a th:href="${set.id + '/write'}"><button type="button" class="btn btn-primary rounded mx-4">Write</button></a>
    <a th:href="${set.id + '/test'}"><button type="button" class="btn btn-primary rounded mx-4">Test</button></a>
</div>

<div th:each="card : ${set.flashcards}" class="mx-3 d-flex justify-content-between">
    <span th:text="${card.term}"></span>
    <span th:text="${card.definition}"></span>
</div>

<footer th:replace="~{/fragments/general.html :: footer}"></footer>


</body>
</html>