<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/general.html :: head(title='Write - ' + ${set.name})}">
</head>
<body>
<header th:replace="~{/fragments/general.html :: header}"></header>
<header th:replace="~{/fragments/set-stuff.html :: header(section='Write')}"></header>

<div class="card-study mb-4">
    <div class="content">
        <div class="answering my-5 mx-auto d-flex flex-column align-items-center justify-content-center">
            <div class="side-disp d-flex align-items-center justify-content-center" style="height: 16rem; width:24rem;">
            </div>
            <input type="text" id="answer" autocomplete="off">
            <button type="button" class="submit-answer btn btn-primary">Answer</button>
        </div>
        <div th:replace="~{/fragments/set-stuff.html :: wrong-disp}"></div>
        
        <div class="section-summary d-none my-5 mx-auto d-flex flex-column align-items-center justify-content-center">
            End of round
            <button type="button" class="continue btn btn-primary">Continue</button>
        </div>

        <div class="end d-none my-5 mx-auto d-flex flex-column align-items-center justify-content-center">
            END
            <button type="button" class="continue btn btn-primary">Reset</button>
        </div>
    </div>


</div>

<footer th:replace="~{/fragments/general.html :: footer}"></footer>

<script th:inline="javascript">
    const cards = /*[[${set.flashcards}]]*/ "";
</script>
<script type="text/javascript" th:src="@{/js/write.js}"></script>

</body>
</html>