<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <script src="https://kit.fontawesome.com/f8a8820565.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f8a8820565.js" crossorigin="anonymous"></script>
    <title th:text="#{header.app.title}"></title>
</head>

<body>
<div th:fragment="header" class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4" style="color: white;">
        <a class="navbar-brand mr-auto" href="/"><h2 th:text="#{header.app.title}"></h2></a>
        <a href="/sets/new">
            <button class="btn btn-primary rounded-circle mx-4"><i class="fas fa-plus" style="color: white;"></i></button>
        </a>
        <a sec:authorize="!isAuthenticated()" href="/signup">
            <button class="btn btn-primary mx-4"><span th:text="#{user.sign_up}"></span></button>
        </a>
        <a sec:authorize="!isAuthenticated()" href="/login">
            <button class="btn btn-primary mx-4"><span th:text="#{user.log_in}"></span></button>
        </a>
        <a sec:authorize="isAuthenticated()" href="/">
<!--            TODO: figure out how to get username-->
            <button class="btn btn-primary rounded-circle mx-4"><i class="fa-regular fa-user" style="color: white;"></i></button>
        </a>
    </nav>
</div>

</body>

</html>