<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="~{/fragments/general.html :: header-css}">
    <title>Log In</title>
</head>
<body>
    <header th:insert="~{/fragments/general.html :: header}"></header>

    <form th:action="@{/login}" method="post" th:object="${loginForm}">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="flashcat64">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="pwd" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr class="my-4">
    <a th:href="@{/oauth2/authorization/google}">
        <button class="btn btn-primary mx-4">Google</button>
    </a>

</body>
</html>